%h2 Signing CSR
%legend Selected Certificate
%table.table.table-striped.table-hover.table-sm
  %thead
    %tr
      %th Common Name
      %th Organization
  %tbody
    %tr
      %td 
        = @csr.cn
      %td 
        = @csr.o

%form#csr.form-horizontal{ action: "/admin/csrs/#{@csr.cn}/sign", method: 'post' }
  %fieldset
    .row
      .col-xs-12.col-md-6
        %legend Subject Alternative Name (optional)
        .mb-3
          %label{ for: 'dns' } DNS
          %input.form-control#dns{ name: 'subjectAltName[DNS]', type: 'text', placeholder: 'e.g. www.acme.com', value: @san.nil? ? '' : @san[:DNS] }
        .mb-3
          %label{ for: 'ip' } IP
          %input.form-control#ip{ name: 'subjectAltName[IP]', type: 'text', placeholder: 'e.g. 10.2.3.5', value: @san.nil? ? '' : @san[:IP] }
        .mb-3
          %label{ for: 'uri' } URI
          %input.form-control#uri{ name: 'subjectAltName[URI]', type: 'text', placeholder: 'e.g. http://www.acme.com', value: @san.nil? ? '' : @san[:URI] }
        .mb-3
          %label{ for: 'email' } email
          %input.form-control#email{ name: 'subjectAltName[email]', type: 'text', placeholder: 'e.g. email@acme.com',value: @san.nil? ? '' : @san[:email] }
        .mb-3
          %label{ for: 'rid' } RID
          %input.form-control#rid{ name: 'subjectAltName[RID]', type: 'text', placeholder: 'e.g. 1.2.3.4',value: @san.nil? ? '' : @san[:RID] }
    
      .col-xs-12.col-md-4
        .row
          %legend Key Usage (optional)
          .mb-3
            -locals[:keyusages].map do |usage,default|
              .form-check
                %label.form-check-label{ for: "keyusages[#{usage}]" }
                %input.form-check-input{:type=>'checkbox', id: "keyusages[#{usage}]", :name=>"keyusages[#{usage}]", :value=>1, :checked=>default} #{usage} 
        
        .row
          %legend Extended Key Usage (optional)
          .mb-3
            -locals[:extendedkeyusages].map do |ext,default|
              .form-check
                %label.form-check-label{ for: "extendedkeyusages[#{ext}]" }		
                %input.form-check-input{:type=>'checkbox', id: "extendedkeyusages[#{ext}]", :name=>"extendedkeyusages[#{ext}]", :value=>1, :checked=>default} #{ext}

          
  %legend Enter Passphrases to Sign CSR
  .mb-3
    %label{ for: 'intermediate' } Intermediate CA Key
    %input.form-control#intermediate{ name: 'passphrase[intermediate]', type: 'password', placeholder: '' }
  .mb-3
    %button.btn.btn-primary{ type: 'submit' } Sign Certificate
    -if !@sign.nil?
      %a.btn.btn-secondary{ href: '/admin/csrs/sign/cancel' } Cancel
